<head>
  <!-- Plotly.js -->
  	<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">

	<!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->

		<script src="static/plotly/plotly-1.38.3.min.js"></script>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script src="static/environment.js"></script>

<style>
h4, h5 {
  margin-left: 30px; /* change this as you like */
}
</style>

</head>

<body>

	<br>
	<h4>
	PiE Server Environmental Monitoring
	</h4>
	
	<div id="myplot"></div>

	<h5>
	<dd>Once plotted, refresh the page to see new values.</dd>
	</h5>
	
	<h5>
	<dd>View the raw <A HREF="/environmentlog">Log file</A>.</dd>
	</h5>

	<div id="graph"></div>

</body>