<head>
  <!-- Plotly.js -->
  	<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">

	<!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->

		<script src="static/plotly/plotly-1.38.3.min.js"></script>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script src="static/environment.js"></script>
</head>

<body>

	<div id="myplot"></div>

	<h3>
	View the raw <A HREF="/environmentlog">Log file</A>.
	</h3>

	<div id="graph"></div>

</body>