<head>
  <!-- Plotly.js -->
  	<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">

	<!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->

		<script src="static/plotly/plotly-1.38.3.min.js"></script>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script src="static/environment.js"></script>

<style>
h4 {
  margin-left: 50px; /* change this as you like */
}
</style>

</head>

<body>

	<br>
	<h4>
	PiE Server Environmental Monitoring
	</h4>
	
	<div id="myplot"></div>

	<h4>
	Refresh the page to see new values.
	</h4>
	
	<h4>
	View the raw <A HREF="/environmentlog">Log file</A>.
	</h4>

	<div id="graph"></div>

</body>