<!doctype html>
<html ng-app="environment_app">

	<head>
		<link rel="stylesheet" href="static/commander.css">
		<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/angular-ui-switch.min.css">

		<script src="static/angular/angular.min.js"></script>
		
		<!-- 20181223, not sure what this is for. IS this needed? -->
		<script src="static/angular/angular-route.js">

		<script src="static/bootstrap/js/bootstrap.min.js"></script>

		<script src="static/angular-ui-switch.min.js"></script>
  
		<script src="static/commander_sync.js"></script>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="shortcut icon" href="static/favicon-thermometer-half.ico">

		<style>
			h4, h5 {
			margin-left: 30px; /* change this as you like */
			}

			.fa-check {color: green;}

		</style>
	</head>

<body>
	<div ng-controller="environmentController">

<!-- full commander sync status -->
<!-- {{ status }} -->


		<button type="button"
			class="btn btn-success btn-sm"
			ng-click="checkForNewFilesButton()"
			ng-disabled="status.fetchIsBusy || status.syncIsBusy"
		>
			<span ng-if="status.fetchIsBusy">
			Fetching ... Please Wait
			</span>
			<span ng-if="! status.fetchIsBusy">
			Fetch File List
			</span>
		</button>

	<span ng-if="status.fetchIsBusy">
	Working
	</span>
	<!--
	<span ng-if="! status.fetchIsBusy">
	Idle
	</span>
	-->
	
	<table class="myTable myTable-short">
	<tr>
	<th>Hostname</th>
	<th>IP</th>
	<th>Connected</th>
	<th>Total Files</th>
	<th>Files To Copy</th>
	</tr>
	<tr ng-repeat="(k,v) in status.ipDict">	
		<td>
		<A HREF="http://{{ v.ip }}:5010" target="_{{v.hostname}}">{{ v.hostname }}</a>
		</td>
		<td>
			{{ v.ip }}
		</td>
			<td ng-if="v.madeConnection == 'Yes'">
				{{ v.madeConnection }}
			</td>
			<td ng-if="v.madeConnection != 'Yes'" style="background-color:#FF5555">
				{{ v.madeConnection }}
			</td>
		<td>
			{{ v.numFiles }}
		</td>
		<td>
			{{ v.numFilesToCopy }}
		</td>
	</tr>
	</table>

<BR>
	<!-- 1 {"hostname":"pi3","ip":"192.168.1.3","localExists":false,"progress":0,"remoteFile":"20180722_214616_t2.txt","remotePath":"20180722","size":576}
 -->
	
		<button type="button"
			class="btn btn-success btn-sm"
			ng-click="synchronizeButton()"
			ng-disabled="status.fetchIsBusy || status.syncIsBusy"
		>
			<span ng-if="status.syncIsBusy">
			Synchronizing ... Please Wait
			</span>
			<span ng-if="! status.syncIsBusy">
			Start Synchronization
			</span>
		</button>

	
		<!--
		<button type="button"
			class="btn btn-danger btn-sm"
			ng-click="cancelButton()"
			ng-disabled="! status.syncIsBusy"
		>
			Cancel
		</button>
		-->
		
	<span ng-if="status.syncIsBusy">
	Working
		<span ng-if="status.cancel" style="background-color:#EEEE00">
		Cancel In Progress
		</span>
	</span>
	<!--
	<span ng-if="! status.syncIsBusy">
	Idle
	</span>
	-->

		<label>
		<input type="checkbox" 
			ng-model="deleteAfterCopy" 
			ng-change="deleteAfterCopyChange()" 
			ng-disabled="status.syncIsBusy">		
		Delete from remote server after copy
		</label>

		<span style="float:right">
		
			<!-- EXPERIMENTAL -->
			<!-- <input ng-disabled="! weAreLocalhost" type="file" multiple webkitdirectory id="fileURL"/> -->
			
			Saving files to {{ status.localFolder }}
		</span>
	
	<BR>
	
	<table class="myTable myTable-short">
	<tr>
		<td>
		Started: {{ status.syncStartStr }}
		</td>

		<td>
		Elapsed: {{ status.syncElapsedStr }}
		</td>

		<td>
		{{ status.syncNumCopied }} of {{ status.syncNumTotalToCopy }} Files
		</td>

		<td>
		{{ status.syncBytesCopied }} of {{ status.syncTotalBytesToCopy }}
		</td>
		
		<!--
		<td>
		ETA: {{ status.syncEstimatedTimeArrival }}
		</td>
		-->
		
		
	</tr>
	</table>
	
	<table class="myTable myTable-short">
	<tr>
	<th></th> <!-- index -->
	<th>Hostname</th>
	<th>IP</th>
	<th>Remote Path</th>
	<th>Remote File</th>
	<th>Size</th>
	<th>Progress</th>
	<th>Elapsed</th>
	<th>%</th>
	</tr>
	<tr ng-repeat="(k,v) in status.myFileList | filter:{localExists:false}">	
		<td>
			{{ k+1 }}
		</td>
		<td>
			{{ v.hostname }}
		</td>
		<td>
			{{ v.ip }}
		</td>
		<td>
			{{ v.remotePath }}
		</td>
		<td>
			{{ v.remoteFile }}
		</td>
		<td>
			{{ v.humanSize }}
		</td>
		<td>
			{{ v.humanProgress }}
		</td>
		<td>
			{{ v.elapsedTime }}
		</td>
		<!-- <td ng-if="v.size == v.progress" style="background-color:#00FF00"> -->
		<td ng-if="v.size == v.progress" style="color:#00AA00">
			{{ v.percent }} <i class="fa fa-check" aria-hidden="true"></i>
		</td>
		<td ng-if="v.percent == 'Busy - Try Again'" style="background-color:#FF5555">
			{{ v.percent }}
		</td>
		<td ng-if="v.percent == 'Cancelled'" style="background-color:#EEEE00">
			{{ v.percent }}
		</td>
		<td ng-if="v.size != v.progress && v.percent != 'Cancelled' && v.percent != 'Busy - Try Again'">
			<span ng-if="status.syncIsBusy">
				<i class="fa fa-cloud-download" aria-hidden="true"></i>
			</span>
			{{ v.percent }}
		</td>
	</tr>
	</table>

<!--
<HR>

	<table>
	<tr>
	<th>status.mySyncList</th>
	</tr>
	<tr ng-repeat="(k,v) in status.mySyncList">	
		<td>
			{{ k }} {{ v }}
		</td>
	</tr>
	</table>

-->

	</div> <!-- ng-controller="environmentController"

	
</body>
</html>